{% extends "base_generic.html" %}

{% block content %}
<div class="login">
  <h3>Sign in To-Do List</h3>
  {% if form.errors %}
    <p class="error">Invalid username or password. Try again.</p>
  {% endif %}
  <form class="contact_form" method="post" name="contact_form">
    {% csrf_token %}
    <label for="name">Username:</label></br>
    {{ form.username }}</br>
    <label for="password">Password:</label></br>
    {{ form.password }}</br>
    <button class="submit" type="submit">Sign in</button>
  </form>
  No account? | <a href="{% url 'register' %}">Create an account</a>
</div>
{% endblock %}